<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>	
	<h1>Weather Information</h1>
    
    <h2>Seoul Weather</h2>
    <p th:text="${Seoul}"></p>
    
    <h2>Busan Weather</h2>
    <p th:text="${Busan}"></p>

    <h2>Incheon Weather</h2>
    <p th:text="${Incheon}"></p>

    <h2>Daejeon Weather</h2>
    <p th:text="${Daejeon}"></p>

    <h2>Changwon Weather</h2>
    <p th:text="${Changwon}"></p>

    <h2>Gangneung Weather</h2>
    <p th:text="${Gangneung}"></p>

    <h2>Daegu Weather</h2>
    <p th:text="${Daegu}"></p>

    <h2>Gwangju Weather</h2>
    <p th:text="${Gwangju}"></p>
	
</body>
</html>